@model Course

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .rtl {
        direction: rtl;
        margin-right: 10px;
    }
</style>

<html>
<head>
    <title class="rtl">פרטי הקורס @Model.Name</title>
</head>
<body>
    <div class="rtl">
        <a asp-action="Index">חזור</a>

        <h1>
            <ins>פרטי הקורס @Model.Name</ins>
        </h1>

        @foreach (var classType in Model.ClassTypes)
        {
            <hr style="width: 70%; text-align:right; margin-right: 0;" />
            <h2>קבוצות @classType.Type</h2>
            var i = 1;
            foreach (var classTypeGroup in classType.Groups)
            {
                <p>
                    <b>@(i++). מרצה:</b> @classTypeGroup.Lecturer, <b>מספר קבוצה:</b>@classTypeGroup.Id <br />
                </p>

                foreach (var courseEvent in classTypeGroup.Events)
                {
                    <p style="margin-right: 30px">@courseEvent.Day.ToHebrew(), @courseEvent.StartHour-@courseEvent.EndHour, @courseEvent.Room</p>
                }
            }

        }
    </div>
</body>
</html>