@model Course

@{
    ViewBag.Title = $"פרטי הקורס {Model.Name}";
}



    <section class="panel panel-primary rtl">
        <div>
            @*<a asp-action="@nameof(HomeController.Index)">חזור</a>*@
            <a class="btn btn-primary" href="javascript:window.history.back()">חזור</a>
            @*<form method="post" asp-action="@nameof(HomeController.CourseDetails)">
                    <input type="submit" value="חזור מהפורם" />
                </form>*@
        </div>


        <h1 class="panel-heading">
            <ins>פרטי קורס: @Model.Name</ins>
        </h1>
            <div class="panel-body">
                @foreach (var classType in Model.ClassTypes)
                {
                    <h2><ins>קבוצות @classType.Type</ins>
                    </h2>
                    var i = 1;
                    foreach (var classTypeGroup in classType.Groups)
                    {
                        <p>
                            <b>@(i++). מרצה:</b> @classTypeGroup.Lecturer, <b>מספר קבוצה:</b>@classTypeGroup.Id <br/>
                        </p>

                        foreach (var courseEvent in classTypeGroup.Events)
                        {
                            <p style="padding-right: 30px">@courseEvent.Day.ToHebrew(), מ @courseEvent.StartHour עד @courseEvent.EndHour, ב @courseEvent.Room</p>
                        }
                    }
                    <hr style="width: 90%; text-align: right; margin-right: 0;"/>
                }
            </div>
        </section>
    

                    
